.text-block{
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.container{
    position: relative;
    text-align: center;
    color: white;
    font-family: sans-serif;
  

}
